body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.title-section {
    flex-grow: 1;
    display: flex;
}

.title-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
}

.right-section {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    height: 25px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.active-link {
    background-color: #eee !important;
    color: #333
}